In [3]:
import pandas as pd
import numpy as np

In [4]:
covid = pd.read_csv('time-series-19-covid-combined.csv')
covid.head()

         Date Country/Region Province/State  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN          0        0.0       0
1  2020-01-23    Afghanistan            NaN          0        0.0       0
2  2020-01-24    Afghanistan            NaN          0        0.0       0
3  2020-01-25    Afghanistan            NaN          0        0.0       0
4  2020-01-26    Afghanistan            NaN          0        0.0       0

In [5]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231744 entries, 0 to 231743
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            231744 non-null  object
 1   Country/Region  231744 non-null  object
 2   Province/State  72624 non-null   object
 3   Confirmed       231744 non-null  int64
 4   Recovered       218688 non-null  float64
 5   Deaths          231744 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 10.6+ MB

In [9]:
numeric_cols = ['Confirmed', 'Recovered', 'Deaths']

covid[numeric_cols].describe().round(2)

         Confirmed    Recovered     Deaths
count    231744.00    218688.00  231744.00
mean     513236.17    106211.62    9760.17
std     3002239.15    839741.31   49749.87
min           0.00         0.00       0.00
25%         259.00         0.00       2.00
50%        5725.00        55.00      73.00
75%      109564.50      5002.00    1777.00
max    80625120.00  30974748.00  988609.00

In [13]:
covid['Country/Region'].value_counts()

Country/Region
China             27744
Canada            13056
United Kingdom    11424
France             9792
Australia          6528
                  ...
Guinea              816
Guinea-Bissau       816
Guyana              816
Haiti               816
Zimbabwe            816
Name: count, Length: 198, dtype: int64